* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
}

body {
    background-color: #0c0c1d;
    color: lightgray;
    overflow: hidden;
    overflow-y: scroll;
}